// Media queries
$small: 23.4375rem;
$tablet: 48rem;
$medium: 64rem;
$large: 90rem;

// Colors
$blue-color: #2f65f8;
$green-color: #3da08f;
$dark-color: #07043b;
$puplay-color: #615f7e;
$background-purple: #575988;
